<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDemo1</servlet-name>
        <servlet-class>request.RequestDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDemo2</servlet-name>
        <servlet-class>request.RequestDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDemo3</servlet-name>
        <servlet-class>request.RequestDemo3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDemo4</servlet-name>
        <servlet-class>request.RequestDemo4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDemo5</servlet-name>
        <servlet-class>request.RequestDemo5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseDemo1</servlet-name>
        <servlet-class>response.ResponseDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseDemo2</servlet-name>
        <servlet-class>response.ResponseDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseDemo3</servlet-name>
        <servlet-class>response.ResponseDemo3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseDemo4</servlet-name>
        <servlet-class>response.ResponseDemo4</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDemo1</servlet-name>
        <url-pattern>/RequestDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDemo2</servlet-name>
        <url-pattern>/RequestDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDemo3</servlet-name>
        <url-pattern>/RequestDemo3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDemo4</servlet-name>
        <url-pattern>/RequestDemo4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDemo5</servlet-name>
        <url-pattern>/RequestDemo5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseDemo1</servlet-name>
        <url-pattern>/ResponseDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseDemo2</servlet-name>
        <url-pattern>/ResponseDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseDemo3</servlet-name>
        <url-pattern>/ResponseDemo3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseDemo4</servlet-name>
        <url-pattern>/ResponseDemo4</url-pattern>
    </servlet-mapping>

</web-app>